/* Variables */

:root {
    --primary-color: #dd5746;
    --secondary-color: #ffe1c0;
    --hover-color-p: #e96d5c;
    --hover-color-s: #ffd3b0;

    /* Tema default */
    --background: #ffffff;
    --background-content: #f8f9fa;
    --border: #dcdfe3;
    --hover-border: #b8bfc5;
    --text: #2d3e58;
    --placeholder: #a6a6a6;

    /* Tema oscuro */
    --background-dark: #2e2e2e;
    --background-content-dark: #252525;
    --border-dark: #444444;
    --hover-border-dark: #555555;
    --text-dark: #f0f0f0;
    --placeholder-dark: #a0a0a0;

    /* Tema claro */
    --background-light: #ffffff;
    --background-content-light: #f8f9fa;
    --border-light: #dcdfe3;
    --hover-border-light: #b8bfc5;
    --text-light: #2d3e58;
    --placeholder-light: #a6a6a6;
}

/* Inputs */

input:not([type="checkbox"]),
select,
textarea {
    background: var(--background) !important;
    color: var(--text) !important;
    border-radius: 8px !important;
    border: 1px solid var(--border) !important;
    padding: 12px !important;
    box-shadow: none !important;
    outline: none !important;
}
input:not([type="checkbox"])::placeholder,
select::placeholder,
textarea::placeholder {
    color: var(--placeholder) !important;
}
input:not([type="checkbox"]):hover,
select:hover,
textarea:hover {
    border-color: var(--hover-border) !important;
}
input:not([type="checkbox"]):focus,
select:focus,
textarea:focus {
    background: var(--background);
    color: var(--text);
    border-color: var(--primary-color) !important;
}
input:disabled:not([type="checkbox"]),
select:disabled,
textarea:disabled {
    color: var(--placeholder) !important;
    background: var(--background-content) !important;
}
select option {
    background: var(--background);
    color: var(--text);
}

/* Checkbox y switch */

input[type="checkbox"] {
    cursor: pointer;
    accent-color: var(--primary-color);
}
.form-check {
    width: max-content;
    border-radius: 8px;
}
.form-check-input {
    background-color: var(--background);
    border: 1px solid var(--border);
    box-shadow: none !important;
}
.form-check-input:hover:not(:checked) {
    border-color: var(--hover-border);
}
.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.form-check-input:focus:not(:checked) {
    border-color: var(--hover-border);
}
.form-check-input:checked::before {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.form-switch .form-check-input:focus:not(:checked) {
    /* prettier-ignore */
    --bs-form-switch-bg:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba%280, 0, 0, 0.25%29'/></svg>");
}

/* Grupos de input */

.input-group input,
.input-group select,
.input-group button,
.input-group span {
    border: none !important;
    border-radius: 0 !important;
}
.input-group input,
.input-group span {
    background: transparent;
}
.input-group:has(input:disabled) span {
    color: var(--placeholder);
}
.input-group {
    background: var(--background);
    border: 1px solid var(--border);
    border-radius: 8px;
    overflow: hidden;
}
.input-group:hover {
    border-color: var(--hover-border);
}
.input-group:focus-within {
    border-color: var(--primary-color);
}
.input-group:has(input:disabled) {
    background: var(--background-content);
}
.input-group i {
    color: var(--placeholder);
}

/* Modificaciones del webkit */

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="search"]::-webkit-search-cancel-button {
    opacity: 0;
}
input[type="date"],
input[type="time"] {
    position: relative;
}
input[type="date"]::after,
input[type="time"]::after {
    font-family: "bootstrap-icons";
    content: "\F214";
    color: var(--text);
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    pointer-events: none;
}
input[type="date"]:disabled::after,
input[type="time"]:disabled::after {
    color: var(--placeholder);
}
input[type="date"]:focus::after,
input[type="time"]:focus::after {
    color: var(--primary-color);
}
input[type="search"] {
    position: relative;
    z-index: 1 !important;
}
.input-group:has(input[type="search"]) {
    position: relative;
}
.input-group:has(input[type="search"]):focus-within::after {
    font-family: "bootstrap-icons";
    content: "\F659";
    color: var(--placeholder);
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 2;
}
input:-webkit-autofill,
textarea:-webkit-autofill {
    transition: background-color 60s !important;
    -webkit-box-shadow: 0 0 0px 500px var(--background) inset !important;
    -webkit-text-fill-color: var(--primary-color);
}

/* Estilos generales */

* {
    font-family: "Inter", sans-serif;
    scrollbar-color: var(--border) transparent;
    scrollbar-width: thin;
}
html {
    opacity: 0;
    background: var(--background);
}
body {
    margin: 0;
    padding: 0;
    color: var(--text);
    max-height: 100vh;
    overflow: hidden;
}
main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}
header {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}
nav {
    display: flex;
    align-items: center;
    gap: 16px;
}
a {
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 8px;
    text-decoration: none;
    padding: 12px 16px;
    color: var(--text);
    transition: background 0.3s;
}
a.active {
    background: var(--primary-color);
    color: white;
}
a:hover:not(.active) {
    background: var(--secondary-color);
    color: var(--primary-color);
}
a:hover {
    background: var(--hover-color-p);
}
a:focus {
    transform: scale(0.95);
}

/* Estilos de botones */

button {
    padding: 12px 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: large;
    background: none;
    transition: all 0.3s;
}
button:disabled {
    background: var(--border);
    cursor: not-allowed;
    color: var(--placeholder);
}
.primary {
    background: var(--primary-color);
    color: white;
}
.primary:hover:not(:disabled) {
    background: var(--hover-color-p);
}
.primary:active:not(:disabled) {
    background: var(--primary-color);
    transform: scale(0.95);
}
.secondary {
    background: var(--secondary-color);
    color: var(--primary-color);
}
.secondary:hover:not(:disabled) {
    background: var(--hover-color-s);
}
.secondary:active:not(:disabled) {
    background: var(--primary-color);
    color: white;
    transform: scale(0.95);
}
.button-group {
    display: flex;
    gap: 16px;
    justify-content: center;
}

/* Estilos de la conexión */

.connection {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
    min-height: max-content;
    height: 100%;
}
.connection-col {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background: var(--background);
    border: 1px solid var(--border);
}
.connection-col p {
    margin: 0;
    padding: 8px 16px;
    background: var(--border);
    border-radius: 5px 5px 0 0;
    color: var(--text);
}
.connection-col > :not(select, input, label) {
    margin: -16px -16px 0 -16px;
}

/* Estilos de la consola */

.console {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    height: 100%;
}
.console-col {
    height: 100%;
}
.console-col > p {
    background: var(--border);
    color: var(--text);
    margin: 0;
    padding: 8px 16px;
    border-radius: 10px 10px 0 0;
}
pre {
    background: var(--background);
    border: 1px solid var(--border);
    color: var(--text);
    padding: 16px;
    border-radius: 0 0 10px 10px;
    word-wrap: break-word;
    overflow: auto;
    height: calc(100% - 68px);
    margin: 0;
}

/* Estilos de los usuarios */

.users {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
    height: 100%;
}
.users-col {
    background: var(--background);
    border: solid 1px var(--border);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 64px);
    overflow: auto;
}
.users-col > p {
    background: var(--border);
    color: var(--text);
    margin: 0;
    padding: 8px 16px;
    border-radius: 5px 5px 0 0;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th,
td {
    padding: 12px 8px;
    text-align: center;
    color: var(--text);
}
th {
    background: var(--background-content);
    color: var(--primary-color);
}
tbody tr:nth-child(even) {
    background: var(--background-content);
}

/* Estilos del panel */

#panel {
    width: calc(100% - 48px);
    height: calc(100vh - 142.1px);
    border-radius: 8px;
    background: var(--background-content);
    border: 1px solid var(--border);
    padding: 24px;
    overflow: auto;
}
.hidden {
    display: none;
}

/* Alertas */
.swal2-icon:has(.washer-loader) {
    border: none;
}
.alert-popup {
    background: var(--background) !important;
    border: 1px solid var(--border) !important;
    border-radius: 8px !important;
}
.alert-popup h2 {
    color: var(--primary-color);
}
.alert-popup .swal2-html-container {
    color: var(--text);
}
.alert-confirm {
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
    box-shadow: none !important;
}
.alert-cancel {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 8px;
    box-shadow: none !important;
}

/* Estilos dinámicos */

.success {
    color: #4caf50;
}
.warning {
    color: #ffa500;
}
.error {
    color: #e53935;
}
